<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
    <servers>
        <server>
            <id>nexus-releases</id>
            <username>admin</username>
            <password>Jin11167377.</password>
        </server>
        <server>
            <id>nexus-snapshots</id>
            <username>admin</username>
            <password>Jin11167377.</password>
        </server>
    </servers>
    <mirrors>
    <!-- Releases 仓库重定向 -->
        <mirror>
            <id>nnexus-releases</id>
            <mirrorOf>nexus-releases</mirrorOf>
            <url>http://8.208.90.124:8283/repository/maven-releases/</url>
        </mirror>

        <!-- Snapshots 仓库重定向 -->
        <mirror>
            <id>nexus-snapshots</id>
            <mirrorOf>nexus-snapshots</mirrorOf>
            <url>http://8.208.90.124:8283/repository/maven-snapshots/</url>
        </mirror>

        <!-- 覆盖默认的 HTTP 拦截器 -->
        <mirror>
            <id>allow-http</id>
            <mirrorOf>maven-default-http-blocker</mirrorOf>
            <url>http://8.208.90.124:8283/repository/maven-snapshots/</url>
        </mirror>
    </mirrors>
</settings>